.titulo{
    text-align: center;
}
.jogadaAtual{
    text-align: center;
    height: 300px;
    width: 80%;
    padding: 20px;
    background-color: rgba(76, 76, 85, 0.514);
    display: grid;
    grid-row: auto;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    
}
.jkp1,.jkp2{
    height:90%;
    width: 40%;
    background-color: red;    
}
.jogadasPossiveis{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}


/*         v   jogadas   v         */

.imgJogada1,.imgJogada2{
    display: flex;  
    height: 100px;
    width: 100px;
    margin-left: 10px;
}
.jogadas1{
    float: left;
}
.jogadas2{
    float: right;
}
.imgJogada1{ 
    float: left;   
}.imgJogada2{ 
    float: right;   
}
#pedra1,#pedra2{
    background: url("./images/pedra.png");
    background-size: 100px;
}
#papel1,#papel2{
    background: url("./images/papel.png");
    background-size: 100px;
    background-repeat: no-repeat;
}
#tesoura1,#tesoura2{
    background: url("./images/tesoura.png");
    background-size: 100px;
}
#lagarta1,#lagarta2{
    background: url("./images/lagarta.png");
    background-size: 100px;
}
#Spock1,#Spock2{
    margin-top: 20px;
    background: url("./images/Spock.png");
    background-size: 100px;
    background-repeat: no-repeat;
}