body{
    background-image: url(./image/papel_de_parede_jogo_da_velha.jpg);
}
.divCentral{
    background-color: rgba(61, 60, 60, 0.555);
    margin: auto;
    border-radius: 10px;
    
}
.conteinerJogo{
    background-color:  #23242385;
    margin: auto;
    margin-top: 80px;
    width: 258px; /*(width tabuleiro + 6px borda) * 3(casas) */

}

.jogador1{
    background-color: whitesmoke;
}

.jogador2{
    background-color: whitesmoke;
}

.tabuleiro{
    float: left;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    border-color: black;
    
}

#cs1{
    border-style: solid;
    border-left-style: none;
    border-top-style: none;
}

#cs2{  
    border-style: solid;
    border-top-style: none;
}

#cs3{  
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
}

#cs4{
    border-style: solid;
    border-left-style: none;
}

#cs5{
    border-style: solid;
    
}

#cs6{
    border-style: solid;
    border-right-style: none;
}

#cs7{
    border-style: solid;
    border-left-style: none;
    border-bottom-style: none;
}

#cs8{
    border-style: solid;
    border-bottom-style: none;
}

#cs9{
    border-style: solid;
    border-right-style: none;
    border-bottom-style: none;
}
