body{
    background-image: url(./image/papel_de_parede_jogo_da_velha.jpg);
}
.divCentral{
    background-color: rgba(240, 240, 240, 0.808);
    margin: auto;
    border-radius: 10px;
    display: flex;
    height: 350px;
    width: 780px;
}
.jogadores{
   flex-wrap: wrap;
}
#jogador1 , #jogador2{
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    border-radius: 10px;
    height: 60px;
    width: 200px;
    margin-left: 30%;
    
}
#jogador2{
    margin-top: 50px;
    background-color: rgba(240, 240, 240, 0.808);
}
#jogador1{
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: rgba(240, 240, 240, 0.808);
}
#jogador1 img, #jogador2 img{
    padding: 5px;    
}
.titulo{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.conteinerJogo{
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
    width: 258px; /*(width tabuleiro + 6px borda) * 3(casas) */
    height: 258px;

}

.tabuleiro{
    float: left;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 80px;
    padding-top: 20px;
    text-align: center;
    border-color: black;
    
    
}

#cs1{
    border-style: solid;
    border-left-style: none;
    border-top-style: none;
}

#cs2{  
    border-style: solid;
    border-top-style: none;
}

#cs3{  
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
}

#cs4{
    border-style: solid;
    border-left-style: none;
}

#cs5{
    border-style: solid;
    
}

#cs6{
    border-style: solid;
    border-right-style: none;
}

#cs7{
    border-style: solid;
    border-left-style: none;
    border-bottom-style: none;
}

#cs8{
    border-style: solid;
    border-bottom-style: none;
}

#cs9{
    border-style: solid;
    border-right-style: none;
    border-bottom-style: none;
}
.reiniciar{
  margin-left: 45%;
  padding: 5px 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(187, 37, 37);
}